<div class="w-[100vw] h-[100vh] flex flex-col gap-[2em] p-[4em]">
  <h2>Modules</h2>
  <div class="flex gap-3.5">
    <app-card (delete)="removeModule($event)" (saveModule)="editModule($event)" [module]="module" *ngFor="let module of localModules"></app-card>
  </div>
  <button (click)="toggleModal()" class="outline-0 hover:scale-105 bg-blue-400 text-white w-[1em] h-[1em] p-[1em] rounded-full text-xl flex justify-center items-center">
    <i class="fas fa-plus"></i>
  </button>
</div>
<div *ngIf="isModalVisible" class="backdrop-blur-[1.5px] drop-shadow-xl absolute top-0 flex justify-center items-center w-screen h-screen bg-transparent">
  <app-module-form [type]="'create'" (addModule)="pushModule($event)" (closeForm)="toggleModal()"></app-module-form>
</div>
<!--// (clickOutside)="toggleModal(1)" appClickOutside-->
