<form (submit)="submit($event)" class="w-[600px] h-[600px] relative rounded-md bg-gray-200 flex flex-col justify-center items-center gap-3.5">
    <i (click)="emitClose()" class="fas fa-close absolute top-5 right-5 cursor-pointer hover:text-red-500 hover:bg-white rounded-full p-3"></i>
    <div *ngIf="type=='create'" class="flex flex-col w-8/12">
      <label>ID</label>
      <input [(ngModel)]="moduleCopy.id" name="model" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
    </div>
    <div class="flex flex-col w-8/12">
      <label>Secret Key</label>
      <input [(ngModel)]="moduleCopy.secretKey" name="secretKey" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
    </div>
    <div class="flex flex-col w-8/12">
      <label>Name</label>
      <input [(ngModel)]="moduleCopy.name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
    </div>
    <div class="flex flex-col w-8/12">
      <label>Broker</label>
      <input [(ngModel)]="moduleCopy.broker" name="broker" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
    </div>
    <div class="flex flex-col w-8/12">
      <label>Topic</label>
      <input [(ngModel)]="moduleCopy.topic" name="topic" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
    </div>
    <div class="flex justify-end w-8/12">
      <button *ngIf="type == 'create'" type="submit" class="text-white inline-flex font-bold items-center bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center">
        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
        Add new Module
      </button>
      <button *ngIf="type == 'edit'" type="submit" class="text-white inline-flex font-bold items-center bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center">
        <i class="fas fa-save mr-2"></i>
        Save Module
      </button>
    </div>
</form>

<app-error *ngIf="badResponse || correctResponse" [type]="errorRender.type" [color]="errorRender.color" [message]="errorRender.message"  ></app-error>
